/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */

.sans{
    font-family: 'Open Sans', sans-serif;
}

.nunito{
    font-family: 'Nunito', sans-serif;
}

/* FONTS */

/* VARIABLES */
:root{
    --light-theme-green: #1DC690;
    --light-theme-blue: #278AB0;
    --light-theme-dark-blue: #1C4670;
    --light-theme-white: #EAEAE0;

    --dark-theme-midnight-blue: #104b83;    
    --dark-theme-dark-blue: #0C2D48;
    --dark-theme-blue: #2E8BC0;
    --dark-theme-light-blue: #B1D4E0;
}

body{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */  
    gap: 0.5rem;

}

body::-webkit-scrollbar {
    display: none;
  }
  

nav{
    width: 100%;
    height: 10vh;
    min-height: 4em;
}

nav ul{
    display: flex;
    align-items: center;
    width: calc(100% - 8px);
    height: 100%;
    flex-direction: row-reverse;
}

.light-theme-nav{
    background-color: var(--light-theme-green);
    border-bottom: solid 3 px var(--dark-theme-light-blueS);
}

.dark-theme-nav{
    background-color: var(--dark-theme-midnight-blue);
    border-bottom: solid 3px var(--dark-theme-light-blue);
}

.dark-theme{
    background-color: var(--dark-theme-dark-blue);
}

.lig-theme{
    background-color: var(--light-theme-dark-blue);
}

.expanded{
    height: fit-content;
    flex-direction: column;
    align-items: flex-end;
    /* gap: 1rem; */
    padding-top: 0.25rem;
}

.expanded li{
    color: var(--dark-theme-light-blue);
    font-size: 1.5rem;
    padding: 0.5rem;
}

#contents,
.container,
.todo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#contents{
    /* margin-top: 6.6em; */
    min-height: calc(100vh - 6rem);
    flex-direction: column;
    gap: 0.5rem;
    height: fit-content;
    justify-content: flex-start;
}

.container{
    width: 90%;
    height: 5rem;
    border-radius: 5px;
}

.lighter{
    background-color: rgba(255, 255, 255, 0.3);
}

.darker{
    background-color: rgba(0, 0, 0, 0.3);
}

.main-heading{
    color: white;
    font-size: 1.5rem;
}

.todo{
    height: 10rem;
    width: calc(90% - 32px);
    flex-direction: column;
    gap: 3rem;
    align-items: flex-end;
    padding: 1rem;
    border-radius: 5px;
}

.form-dark-theme{
    background-color: var(--dark-theme-dark-blue);
}

.form-light-theme{
    background-color: var(--light-theme-dark-blue);
}

.form-light-theme,
.form-dark-theme{
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}